<div>
  <h1>Sobre</h1>
  <hr />
  <p>Conversor de moedas criado com <strong>vue.js</strong> utilizando API pública
    ("https://economia.awesomeapi.com.br/all/[moedaB]-BRL"), onde o parametro "moedaB" é o tipo de moeda, exemplo: USD.
  </p>
  <p>A aplicação possibila comparações entre moedas.</p>
  <br />
  <h2>Autores</h2>
  <hr />
  <ul>
    <li>
      Ricardo Santana - RM 333218
    </li>
    <li>
      Gustavo Caspirro - RM 333219
    </li>
  </ul>
  <h2>Versão</h2>
  <hr />
  <p>versão 1.0.0</p>
</div>
