<div class="home">
  <h1>Conversor de moedas</h1>
  <hr />
  <p>Conversor de moeda simples, compare algumas moedas e faça o cálculo de BRL para a moeda escolhida,
    <a href="conversor#/conversor">conversor</a>
  </p>
  <img
    class="image-moedas"
    src="../../assets/converter-moeda.jpg"
    alt="Moedas"
  >
  <section>
    <h2>Lista de moedas disponíveis para conversão.</h2>
    <p>- Dólar Comercial (USD)</p>
    <p>- Dólar Turismo (USDT)</p>
    <p>- Dólar Canadense (CAD)</p>
    <p>- Euro (EUR)</p>
    <p>- Libra Esterlina (GBP)</p>
    <p>- Peso Argentino (ARS)</p>
    <p>- Bitcoin (BTC)</p>
    <p>- Litecoin (LTC)</p>
    <p>- Iene Japones (JPY)</p>
    <p>- Franco Suiço (CHF)</p>
    <p>- Dólar Australiano (AUD)</p>
    <p>- Yuan Chinês (CNY)</p>
    <p>- Novo Shekel Israelense (ILS)</p>
    <p>- Ethereum (ETH)</p>
    <p>- XRP (XRP)</p>
  </section>
</div>
