<div class="home">
    <h1>Home</h1>
    <h2>Conversor de moedas</h2>

    <h3>Reais (BLR) para:</h3>

    <p>- Dólar Comercial (USD)</p>
    <p>- Dólar Turismo (USDT)</p>
    <p>- Dólar Canadense (CAD)</p>CAD
    <p>- Euro (EUR)</p>CAD
    <p>- Libra Esterlina (GBP)</p>
    <p>- Peso Argentino (ARS)</p>
    <p>- Bitcoin (BTC)</p>
    <p>- Litecoin (LTC)</p>
    <p>- Iene Japones (JPY)</p>
    <p>- Franco Suiço (CHF)</p>
    <p>- Dólar Australiano (AUD)</p>
    <p>- Yuan Chinês (CNY)</p>
    <p>- Novo Shekel Israelense (ILS)</p>
    <p>- Ethereum (ETH)</p>
    <p>- XRP (XRP)</p>
</div>